body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/img-bg.jpg');
  background-size: cover;
  background-position: center;
}
.app{
  max-width: 600px;
  margin: 0 auto;
  background-color: #e2e1e1;
  padding: 20px 30px;
  border-radius: 20px;
}
h1{
  text-align: center;
}
h2{
  margin-bottom: 10px;
}
p{
  margin: 10px 0;
}
input{
  box-sizing: border-box;
}

button{
  background-color: #481670;
  color: rgb(214, 213, 213);
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
  margin-right: 10px;
}
button:hover{
  opacity: 1.5;
}
.complete{
  background-color: rgb(29, 151, 29);
}
.remove{
  background-color: rgb(255, 31, 31);
}
.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #555;
}
.todo{
  background-color: white;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
todo-form{
  padding-bottom: 1.5rem;
}
input, select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}
.filter, 
.search{
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
  padding-bottom: 20px;

}
.filter-options{
  flex: 1 1 1;
}
.filter-options div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20rem;

}

